@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  html,
  body {
    @apply scroll-smooth;
  }
  body {
    @apply bg-slate-900;
  }
}
@layer components {
  .button {
    @apply rounded-sm bg-teal-500 px-5 py-2 text-base text-white;
    @apply hover:bg-teal-600 focus:ring focus:ring-teal-900 active:bg-teal-700;
    @apply font-body-bold uppercase;
  }
}

@layer utilities {
  .font-brand {
    font-family: "Epilogue", sans-serif;
  }
  .font-body {
    font-family: "Inter", sans-serif;
  }
  .font-body-bold {
    @apply font-body font-bold;
  }
  .font-brand-bold {
    @apply font-brand font-bold;
  }
  .bg-home-hero {
    @apply bg-cover bg-center;
    background-image: url("public/assets/homehero.jpg");
  }
}
