@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  html,
  body {
    @apply scroll-smooth;
  }
  body {
    @apply bg-slate-200 dark:bg-slate-900;
  }
}
@layer components {
  .about-content {
    @apply flex h-auto w-full flex-wrap p-5 text-center lg:w-1/4;
  }
  .about-content h3 {
    @apply block py-2 font-black uppercase;
  }
}

@layer utilities {
  .font-brand {
    font-family: "Epilogue", sans-serif;
  }
  .font-body {
    font-family: "Inter", sans-serif;
  }
  .font-body-bold {
    @apply font-body font-bold;
  }
  .font-brand-bold {
    @apply font-brand font-bold;
  }
  .bg-home-hero {
    @apply bg-cover bg-center;
    background-image: url("/assets/homehero.jpg");
  }
}
